<section class="social">
    <a class="fa fa-fw fa-twitter-square" href="https://twitter.com/fleandron">
        <span class="hidden">Twitter</span>
    </a>
    <a class="fa fa-fw fa-facebook-official" href="https://www.facebook.com/LeandroNas">
        <span class="hidden">Facebook</span>
    </a>
    <a class="fa fa-fw fa-github-square" href="https://github.com/LeandroNascimento">
        <span class="hidden">Github</span>
    </a>
</section>